.wrapper {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .logo {
  padding: 10px;
  background-color: #6db9ef;
  margin: 0 10px;
}
