.globalMenu {
  background-color: #222;
  color: #fff;
  border-radius: 20px;
  transition: 0.4s;
  font-size: 2rem;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  position: fixed;
  top: 10px;
  right: -500px;
  line-height: 2;
  padding-top: 50px;
}
.globalMenu.active {
  right: 10px;
}

.mobileButton {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
}

.mobileButton svg {
  width: 2rem;
  height: 2rem;
  fill: #000;
  transition: 0.5s;
}
.globalMenu.active + .mobileButton svg {
  fill: #fff;
}
