@charset "utf-8";
.cafe {
  border-collapse: collapse;
  margin: 20px auto;
}

.cafe td,
th {
  border: 1px solid #000;
  padding: 4px 10px;
  min-width: 100px;
}
.cafe caption {
  background-color: orange;
  padding: 4px;
  border: 1px solid #000;
  border-bottom: none;
}
.cafe thead th {
  background-color: #efefef;
}
.cafe tbody tr:nth-child(even) {
  background-color: skyblue;
}
